<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisun.ibscore.app.br.mapper.BrMapper">
    <!--<resultMap id="result" type="com.hisun.ibscore.app.bp.domain.User">-->
        <!--<result property="tlr" column="tlr" />-->
        <!--<result property="tlrBr" column="tlr_br" />-->
        <!--<result property="tlrCnNm" column="tlr_cn_nm" />-->
        <!--<result property="tlrEnNm" column="tlr_en_nm" />-->
    <!--</resultMap>-->


    <insert id="insert" parameterType="br">
        INSERT INTO BPTORGM(br , ibs_ac_bk) VALUES(#{br}, #{ibsAcBk})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM BPTORGM WHERE TRIM(br) = #{br}
    </delete>
    <update id="update" parameterType="br">
        UPDATE BPTORGM SET ibs_ac_bk = #{ibsAcBk} WHERE TRIM(br) = #{br}
    </update>
    <select id="findByKey" resultType="br">
        SELECT * FROM BPTORGM where TRIM(br) = #{br}
    </select>
    <select id="findList" resultType="user">
--         SELECT * FROM BPTTLT where tlr = 'OP01'
        SELECT * FROM BPTTLT
    </select>

</mapper>