<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisun.ibscore.app.bp.mapper.UserMapper">
    <!--<resultMap id="result" type="com.hisun.ibscore.app.bp.domain.User">-->
        <!--<result property="tlr" column="tlr" />-->
        <!--<result property="tlrBr" column="tlr_br" />-->
        <!--<result property="tlrCnNm" column="tlr_cn_nm" />-->
        <!--<result property="tlrEnNm" column="tlr_en_nm" />-->
    <!--</resultMap>-->


    <insert id="insert" parameterType="user">
        INSERT INTO BPTTLT(tlr,tlr_br,tlr_cn_nm,tlr_en_nm) VALUES(#{tlr}, #{tlrBr}, #{tlrCnNm},#{tlrEnNm})
    </insert>
    <delete id="delete" parameterType="string">
        DELETE FROM BPTTLT WHERE TRIM(tlr) = #{tlr}
    </delete>
    <update id="update" parameterType="user">
        UPDATE BPTTLT SET tlr_cn_nm = #{tlrCnNm},tlr_en_nm = #{tlrEnNm} WHERE TRIM(tlr) = #{tlr}
    </update>
    <select id="findByKey" resultType="user" parameterType="int">
        SELECT * FROM BPTTLT where TRIM(tlr) = #{tlr}
    </select>
    <select id="findList" resultType="user">
--         SELECT * FROM BPTTLT where tlr = 'OP01'
        SELECT * FROM BPTTLT
    </select>

</mapper>